@page
@model IndexModel
<div>
	<h1>Chat</h1>
	<h2>@ViewData["Name"]</h2>
	👤User: <input type="text" id="userInput" value='@ViewData["Title"]' />
	💬Message: <input type="text" id="messageInput" />
	<input type="button" id="sendButton" value="👍 Send Message" />
	<hr />
	<ul id="messagesList"></ul>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>